aiohttp
aiohttp-cors
aioredis
asgiref
async-timeout
attrs
Augmentor
backcall
blessings
cachetools
certifi
chardet
charset-normalizer
click
colorama
cycler
dataclasses
decorator
Django
easydict
entrypoints
filelock
flake8
future
gdown
google-api-core
google-auth
googleapis-common-protos
gpustat
grpcio
hiredis
idna
idna-ssl
image
immutables
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
jedi
joblib
jsonschema
jupyter-client
jupyter-core
kiwisolver
matplotlib
mccabe
msgpack
multidict
nest-asyncio
nltk
numpy
nvidia-ml-py3
opencensus
opencensus-context
opencv-python
packaging
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py-spy
pyasn1
pyasn1-modules
pycodestyle
pydantic
pyflakes
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
ray
redis
regex
requests
rsa
scikit-learn
scipy
six
sqlparse
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
wincertstore
yarl
zipp
torch==1.6.0
torchvision==0.7.0
tensorboardX
sklearn
